services:
  ml-service:
    build: ./ml
    ports:
      - "5000:5000"

  db:
    build: ./database
    ports:
      - "5433:5432"

  api-service:
    build: ./api
    ports:
      - "8000:8000"
    depends_on:
      - ml-service
      - db

  streamlit:
    build: ./streamlit
    ports:
      - "8501:8501"
    depends_on:
      - api-service
